/*
* @Author: Galena
* @Date:   2019-03-06 17:02:56
* @Last Modified by:   Galena
* @Last Modified time: 2019-03-09 14:47:41
*/
body {
	margin: 0;
	background-color: #efefef;
}


a {
	color: inherit;
	text-decoration: none;
}

li, ul, p {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1, h2, h3 {
	color: #3D4451;
}

.topNavBar {
	color: rgba(255,255,255,0.7);
	position: fixed;
	width: 100%;
}


.topNavBar > div {
	max-width: 1300px;
	min-width: 800px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.logo {
	float: left;
	line-height: 50px;
	padding: 5px 0 0 10px;
}

.rs {
	color: #F2746C;
	font-size: 30px;
	font-weight: bold;
	padding-right: 3px;
}

.card {
	color: #979A9F;
	font-size: 26px;
}

nav {
	float: right;
	padding-top: 10px;
	padding-right: 10px;
}

nav > ul {
	padding: 0;
	margin: 0;
}

nav > ul > li {
	list-style: none;
	float: left;
	padding: 0 13px;
	display: block;

}

nav > ul > li > a {
	font-weight: bold;
	border: 3px  solid transparent;
	padding: 1px 0;
	line-height: 34px;
	display: block;
	font-family: SimHei;
	border-right-width: 0;
	border-left-width: 0;
}

nav > ul > li > a:hover {
	border-bottom: 3px  solid #F2746C;

}


.backgroundImg {
	background-image: url("../img/backimg.jpg");
	width: 100%;
	height: 520px;
	background-position: center center;
	background-size: cover;
}
.backgroundImg > .mask {
	background-color: rgba(0,0,0,0.8);
	height: 520px;
}

.resume {
	max-width: 940px;
	min-width: 940px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 3px 20px rgba(0,0,0,0.3);
	margin-top: -350px;
}

.resume > .clearfix {
	padding: 50px;
}

.photo {
	float: left;
	margin-right: 60px;
}

.text {
	float: left;
	max-width: 470px;
	margin-top: 4px;
}

.text .hello {
	padding: 4px 10px;
	background-color: #F2746C;
	position: relative;
	color: white;
	font-size: 25px;

}

.tri {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid #F2746C;
	border-bottom: 10px solid transparent;
	border-right: 10px solid transparent;
	left: 10px;
	top: 95%;
	display: block;
}

.text > h1 {
	margin: 30px 0 3px 0;
	font-size: 45px;
}

.text > p {
	margin: 3px 0 30px 0;
	font-size: 20px;
}

.text > dl {
	margin-top: 30px;
	font-size: 20px;
	text-align: left;
	margin-bottom: 0;
}
.text > dl > dt {
	float: left;
	width: 30%;
	margin-bottom: 9px;
	font-weight: bold;
}

.text > dl > dd {
	float: left;
	margin: 0;
	width: 70%;
	margin-bottom: 9px;
	color: #9DA0A7;
}

.contact {
	background-color: #F2746C;
	text-align: center;
}


.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
   fill: white;
   width: 30px;
   height: 30px;
   padding: 10px;
   margin: 10px;
   border-radius: 100%;
}

.icon:hover {
	background-color: #D05C60;
}

.download {
	border: 1px solid #CBCDCF;
	margin: 50px auto;
	width: 300px;

}

.download > a {
	display: inline-block;
	width: 100%;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
}

.download > a:hover {
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	transition: box-shadow 0.2s;
}

.selfIntroduction {
	font-size: 24px;
	text-align: center;
	width: 940px;
	margin: 0 auto 50px;
}

.skills {
	max-width: 940px;
	min-width: 940px;
	margin: 0 auto;
	margin-top: 100px;
}

.skills h2 {
	text-align: center;
	font-size: 30px;


}

.skills .skills-box {
	border: 1px solid #CBCDCF;
	background-color: white;
	padding: 40px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.skills .skills-box ul li {
	float: left;
	width: 45%;
	margin: 20px;
}

.skills-box ul li .progressContent{
	height: 5px;
	border-radius: 2px;
	background-color: #FAE1E1;
}

.skills-box ul li .progressContent .progress{
	height: 5px;
	border-radius: 2px;
	background-color: #F2746C;
	width: 50%;
}

.portfilio {
	max-width: 940px;
	min-width: 940px;
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;
}

.portfilio h2 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
}

.portfilio .bar {
	text-align: center;
	display: inline-block;
}

.portfilio .bar ul {
}

.portfilio .bar ul li {
	float: left;
	margin-left: 30px;
	cursor: pointer;
}

.portfilio .bar ul li:first-child {
	margin-left: 10px;
}

.portfilio .bar .barInner {
	margin-top: 5px;
	height: 10px;
	background-color: white;
	border-radius: 20px;
}

.portfilio .bar .barInner .status-1{
	width: 16%;
	height: 10px;
	background-color: #F2746C;
	border-radius: 20px;
	transition: all 0.2s;
}

.portfilio .bar .barInner .status-2{
	width: 51%;
	height: 10px;
	background-color: #F2746C;
	border-radius: 20px;
	margin-left: 50px;
	transition: all 0.2s;
}

.portfilio .bar .barInner .status-3{
	width: 33%;
	height: 10px;
	background-color: #F2746C;
	border-radius: 20px;
	margin-left: 213px;
	transition: all 0.2s;
}

.work {
	margin-bottom: 100px;
}

.work > div > img {
	float: left;
	padding: 8px;
}

.work > div > .right {
	float: left;
}

.work > div > .right > img {
	padding: 9px;
	display: block;
}